/* screen - landig-page */

.landig-page {
  align-items: flex-start;
  background-color: var(--blanco-fondo);
  display: flex;
  overflow: hidden;
  width: 1438px;
}

.landig-page .overlap-group10 {
  height: 5162px;
  margin-left: -1px;
  position: relative;
  width: 1442px;
  z-index: 1;
}

.landig-page .rectangle-43 {
  background-color: #d9d9d9;
  height: 5162px;
  left: 2px;
  position: absolute;
  top: 0;
  width: 1439px;
}

.landig-page .footer {
  align-items: flex-start;
  background-color: var(--bloque-oscuro);
  display: flex;
  height: 500px;
  left: 2px;
  min-width: 1438px;
  padding: 48.7px 160px;
  position: absolute;
  top: 4662px;
}

.landig-page .flex-col {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.31px;
  min-height: 400px;
  width: 304px;
}

.landig-page .acerca-de-quines-s {
  color: var(--texto);
  font-weight: 500;
  line-height: 26px;
  margin-left: 2.59px;
  min-height: 259px;
  transform: rotate(-0.26deg);
  width: 301px;
}

.landig-page .span {
  font-weight: 500;
  line-height: 40px;
}

.landig-page .span1 {
  font-weight: 400;
  line-height: 30px;
}

.landig-page .logo-comercio {
  align-items: center;
  background-color: var(--blanco-fondo);
  border-radius: 12px;
  display: flex;
  height: 90px;
  margin-top: 51px;
  min-width: 304px;
  padding: 0 28px;
}

.landig-page .image-1 {
  height: 46px;
  object-fit: cover;
  width: 247px;
}

.landig-page .flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 1.0px;
  min-height: 384px;
  width: 305px;
}

.landig-page .pgina-blog-la-ruta {
  color: var(--texto);
  font-weight: 500;
  line-height: 26px;
  margin-left: 2.22px;
  min-height: 219px;
  transform: rotate(-0.26deg);
  width: 301px;
}

.landig-page .legales-lorem-ipsum {
  letter-spacing: 0.07px;
  line-height: 14px;
  margin-top: 107px;
  min-height: 58px;
  transform: rotate(-0.26deg);
  width: 305px;
}

.landig-page .span0 {
  line-height: 21px;
}

.landig-page .span1-1 {
  line-height: 19px;
}

.landig-page .flex-col-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 21px;
  min-height: 377px;
  width: 466px;
}

.landig-page .contacto-y-ayuda {
  color: var(--texto);
  font-weight: 500;
  height: 40px;
  line-height: 40px;
  transform: rotate(-0.26deg);
  white-space: nowrap;
}

.landig-page .overlap-group-4 {
  align-items: center;
  background-color: var(--blanco-fondo);
  border-radius: 6px;
  display: flex;
  justify-content: flex-end;
  margin-left: 0.73px;
  margin-top: 32px;
  min-width: 465px;
  padding: 0 5px;
}

.landig-page .correo-electronico {
  height: 54px;
  letter-spacing: 0.09px;
  line-height: 26px;
  text-decoration: underline;
  width: 151px;
}

.landig-page .group-55 {
  align-items: flex-start;
  background-color: var(--azul-comercio);
  border-radius: 3px;
  display: flex;
  height: 44px;
  justify-content: flex-end;
  margin-left: 249px;
  min-width: 44px;
  padding: 9.0px 8.0px;
}

.landig-page .icon-paper_plane {
  height: 24px;
  width: 24px;
}

.landig-page .flex-row {
  align-items: center;
  display: flex;
  margin-left: 0.82px;
  margin-top: 186px;
  min-width: 465px;
}

.landig-page .desarrollado-por-py2 {
  letter-spacing: 0.07px;
  line-height: 21px;
  margin-top: 6.4px;
  min-height: 42px;
  text-align: right;
  transform: rotate(-0.26deg);
  width: 305px;
}

.landig-page .logo_pay2lab_-horizontal-1 {
  height: 65px;
  margin-left: 18px;
  width: 142px;
}

.landig-page .mailing {
  align-items: center;
  background-color: var(--azul-comercio);
  display: flex;
  height: 593px;
  left: 1px;
  min-width: 1439px;
  padding: 0 142px;
  position: absolute;
  top: 4069px;
}

.landig-page .formulario {
  align-items: flex-end;
  background-color: var(--bloque-oscuro);
  border-radius: 12px;
  display: flex;
  height: 493px;
  justify-content: flex-end;
  min-width: 1155px;
  padding: 0 17px;
}

.landig-page .overlap-group3 {
  height: 513px;
  margin-bottom: -50px;
  position: relative;
  width: 996px;
}

.landig-page .tendero-portafolio-1 {
  height: 493px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 20px;
  width: 486px;
}

.landig-page .campo-de-texto {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 364px;
  min-height: 202px;
  position: absolute;
  top: 136px;
  width: 628px;
}

.landig-page .overlap-group-5 {
  align-items: flex-start;
  background-color: var(--blanco-fondo);
  border-radius: 6px;
  display: flex;
  min-width: 628px;
  padding: 0 21.1px;
}

.landig-page .nombre {
  color: var(--black);
  font-weight: 400;
  height: 54px;
  line-height: 26px;
  width: 195px;
}

.landig-page .overlap-group {
  align-items: flex-start;
  background-color: var(--blanco-fondo);
  border-radius: 6px;
  display: flex;
  margin-top: 20px;
  min-width: 628px;
  padding: 0 21.1px;
}

.landig-page .correo-electronico-1 {
  color: var(--black);
  font-weight: 400;
  height: 54px;
  line-height: 26px;
  width: 204px;
}

.landig-page .telfono {
  color: var(--black);
  font-weight: 400;
  height: 54px;
  line-height: 26px;
  width: 199px;
}

.landig-page .group-98 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 365px;
  min-height: 106px;
  position: absolute;
  top: 0;
  width: 631px;
}

.landig-page .amigo-tendero {
  color: var(--azul-2);
  font-weight: 600;
  line-height: 46px;
  min-height: 46px;
  text-align: center;
  white-space: nowrap;
  width: 627px;
}

.landig-page .suscrbete-a-nuestra {
  color: var(--texto);
  font-weight: 400;
  line-height: 30px;
  margin-top: 30px;
  min-height: 30px;
  text-align: center;
  white-space: nowrap;
  width: 627px;
}

.landig-page .overlap-group2 {
  align-items: flex-start;
  background-color: var(--azul-comercio);
  border-radius: 6px;
  display: flex;
  height: 65px;
  left: 364px;
  min-width: 628px;
  position: absolute;
  top: 368px;
}

.landig-page .suscrbete {
  height: 65px;
  letter-spacing: 0.12px;
  line-height: 32px;
  text-align: center;
  text-decoration: underline;
  width: 628px;
}

.landig-page .comunidad-tenderos {
  align-items: center;
  background-color: var(--bloque-claro);
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 641px;
  padding: 50px 158px;
  position: absolute;
  top: 3428px;
  width: 1439px;
}

.landig-page .logo-tenderos-1 {
  height: 184px;
  object-fit: cover;
  width: 191px;
}

.landig-page .texto {
  align-items: center;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  min-height: 136px;
  width: 1118px;
}

.landig-page .comunidad-tenderos-mx {
  color: var(--azul-2);
  font-weight: 600;
  line-height: 46px;
  margin-right: 4.0px;
  min-height: 46px;
  text-align: center;
  white-space: nowrap;
  width: 1114px;
}

.landig-page .s-parte-de-la-comun {
  color: var(--texto);
  font-weight: 400;
  line-height: 30px;
  margin-right: 6.0px;
  margin-top: 30px;
  min-height: 60px;
  text-align: center;
  width: 790px;
}

.landig-page .overlap-group-6 {
  align-items: center;
  background-color: var(--blanco-fondo);
  border-radius: 6px;
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
  min-width: 465px;
  padding: 0 4.0px;
}

.landig-page .nete-al-grupo-en-facebook {
  height: 65px;
  letter-spacing: 0.12px;
  line-height: 32px;
  text-decoration: underline;
  width: 262px;
}

.landig-page .icon-1 {
  align-items: flex-start;
  background-color: var(--azul-2);
  border-radius: 3px;
  display: flex;
  height: 55px;
  margin-left: 124px;
  min-width: 55px;
  padding: 16.4px 16.4px;
}

.landig-page .fluentsend-20-filled {
  height: 21px;
  width: 21px;
}

.landig-page .tenderos-redes {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 2.0px;
  margin-top: 30px;
  min-height: 66px;
  width: 159px;
}

.landig-page .tenderos-mx {
  color: var(--azul-2);
  font-weight: 400;
  height: 30px;
  line-height: 30px;
  margin-right: 2.0px;
  white-space: nowrap;
  width: 157px;
}

.landig-page .group-96 {
  height: 20px;
  margin-right: 2.31px;
  margin-top: 16px;
  width: 139px;
}

.landig-page .la-ruta-de-las-tienditas {
  align-items: flex-end;
  background-color: var(--blanco-fondo);
  display: flex;
  flex-direction: column;
  left: 1px;
  min-height: 750px;
  padding: 50px 160px;
  position: absolute;
  top: 2678px;
  width: 1438px;
}

.landig-page .conoce-historias-como-la-tuya {
  color: var(--azul-2);
  font-weight: 600;
  line-height: 46px;
  min-height: 46px;
  text-align: center;
  white-space: nowrap;
  width: 1116px;
}

.landig-page .en-la-ruta-de-las-ti {
  color: var(--texto);
  font-weight: 400;
  line-height: 30px;
  margin-right: 163px;
  margin-top: 30px;
  min-height: 60px;
  text-align: center;
  width: 790px;
}

.landig-page .group-52 {
  align-items: flex-end;
  display: flex;
  height: 389px;
  margin-right: 1px;
  margin-top: 30px;
  min-width: 1114px;
}

.landig-page .group-51 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  min-height: 389px;
  width: 630px;
}

.landig-page .overlap-group1-1 {
  align-items: center;
  background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(126.42, 126.42, 126.42, 0) 22.4%);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  margin-right: 2px;
  min-height: 389px;
  padding: 27px 0;
  width: 628px;
}

.landig-page .la-ruta-de-los-tende {
  color: var(--blanco-puro);
  font-weight: 400;
  height: 32px;
  line-height: 30px;
  white-space: nowrap;
  width: 566px;
}

.landig-page .vector {
  height: 79px;
  margin-top: 96px;
  width: 112px;
}

.landig-page .rectangle-5 {
  height: 388px;
  margin-right: -161px;
  margin-top: 2507px;
  object-fit: cover;
  width: 628px;
}

.landig-page .group-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 18px;
  min-height: 388px;
  width: 466px;
}

.landig-page .group-20 {
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
  min-width: 466px;
}

.landig-page .overlap-group-1 {
  align-items: center;
  background-color: var(--bloque-claro);
  border-radius: 12px;
  display: flex;
  height: 116px;
  justify-content: flex-end;
  min-width: 466px;
  padding: 0 20px;
}

.landig-page .edicin-especial-ten {
  height: 76px;
  letter-spacing: 0.09px;
  line-height: 26px;
  text-decoration: underline;
  width: 284px;
}

.landig-page .rectangle-18 {
  height: 116px;
  margin-bottom: -2895px;
  margin-left: 345px;
  object-fit: cover;
  width: 142px;
}

.landig-page .group-5 {
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  min-width: 466px;
}

.landig-page .rectangle-18-1 {
  height: 116px;
  margin-bottom: -3031px;
  margin-left: 345px;
  object-fit: cover;
  width: 142px;
}

.landig-page .rectangle-18-2 {
  height: 116px;
  margin-bottom: -3167px;
  margin-left: 345px;
  object-fit: cover;
  width: 142px;
}

.landig-page .overlap-group-7 {
  align-items: flex-start;
  align-self: center;
  background-color: var(--azul-comercio);
  border-radius: 6px;
  display: flex;
  justify-content: flex-end;
  margin-left: 2.0px;
  margin-top: 30px;
  min-width: 466px;
}

.landig-page .visita {
  height: 65px;
  letter-spacing: 0.12px;
  line-height: 32px;
  text-align: center;
  text-decoration: underline;
  width: 465px;
}

.landig-page .overlap-group5 {
  align-items: center;
  background-color: var(--azul-comercio);
  display: flex;
  height: 505px;
  justify-content: flex-end;
  left: 1px;
  min-width: 1439px;
  position: absolute;
  top: 2173px;
}

.landig-page .flex-col-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 3.0px;
  min-height: 402px;
  width: 466px;
}

.landig-page .logo-comercio-1 {
  align-items: center;
  background-color: var(--bloque-claro);
  border-radius: 12px;
  display: flex;
  height: 90px;
  min-width: 304px;
  padding: 0 28px;
}

.landig-page .titulo {
  color: var(--bloque-oscuro);
  font-weight: 700;
  line-height: 56px;
  margin-top: 50px;
  min-height: 112px;
  width: 466px;
}

.landig-page .aprende-tips-de-nego {
  color: var(--blanco-puro);
  font-weight: 400;
  line-height: 30px;
  margin-top: 30px;
  min-height: 120px;
  width: 466px;
}

.landig-page .overlap-group6 {
  height: 505px;
  margin-left: 30px;
  position: relative;
  width: 781px;
}

.landig-page .plasta {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 505px;
  padding: 0 0.5px;
  position: absolute;
  top: 0;
  width: 781px;
}

.landig-page .subtract {
  height: 505px;
  margin-right: 0;
  width: 780px;
}

.landig-page .subtract-1 {
  height: 505px;
  margin-right: 0;
  margin-top: 1668px;
  width: 752px;
}

.landig-page .cto-redes {
  align-items: flex-start;
  box-shadow: 4px 4px 15px #020c1280;
  display: flex;
  flex-direction: column;
  left: 314px;
  min-height: 405px;
  position: absolute;
  top: 50px;
  width: 304px;
}

.landig-page .overlap-group-8 {
  align-items: center;
  background-color: var(--blanco-fondo);
  border-radius: 6px;
  display: flex;
  justify-content: flex-end;
  min-width: 304px;
  padding: 0 5.0px;
}

.landig-page .telegram {
  height: 65px;
  letter-spacing: 0.12px;
  line-height: 32px;
  text-decoration: underline;
  width: 151px;
}

.landig-page .icon-2 {
  align-items: flex-start;
  background-color: var(--azul-comercio);
  border-radius: 3px;
  display: flex;
  height: 55px;
  justify-content: flex-end;
  margin-left: 73px;
  min-width: 55px;
  padding: 11.2px 9.9px;
}

.landig-page .icon-paper_plane-1 {
  height: 30px;
  width: 30px;
}

.landig-page .overlap-group-2 {
  align-items: center;
  background-color: var(--blanco-fondo);
  border-radius: 6px;
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  min-width: 304px;
  padding: 0 5.0px;
}

.landig-page .facebook {
  height: 65px;
  letter-spacing: 0.12px;
  line-height: 32px;
  text-decoration: underline;
  width: 151px;
}

.landig-page .icon {
  align-items: flex-start;
  background-color: var(--azul-comercio);
  border-radius: 3px;
  display: flex;
  height: 55px;
  margin-left: 73px;
  min-width: 55px;
  padding: 16.4px 16.4px;
}

.landig-page .fluentsend-20-filled-1 {
  height: 21px;
  width: 21px;
}

.landig-page .instagram {
  height: 65px;
  letter-spacing: 0.12px;
  line-height: 32px;
  text-decoration: underline;
  width: 151px;
}

.landig-page .icon-instagram {
  height: 21px;
  width: 21px;
}

.landig-page .whatsapp {
  height: 65px;
  letter-spacing: 0.12px;
  line-height: 32px;
  text-decoration: underline;
  width: 151px;
}

.landig-page .icon-3 {
  align-items: center;
  background-color: var(--azul-comercio);
  border-radius: 3px;
  display: flex;
  height: 55px;
  justify-content: flex-end;
  margin-left: 73px;
  min-width: 55px;
  padding: 0 16.9px;
}

.landig-page .vector-1 {
  height: 21px;
  width: 21px;
}

.landig-page .spotify {
  height: 65px;
  letter-spacing: 0.12px;
  line-height: 32px;
  text-decoration: underline;
  width: 151px;
}

.landig-page .icon-4 {
  align-items: center;
  background-color: var(--azul-comercio);
  border-radius: 3px;
  display: flex;
  height: 55px;
  margin-left: 73px;
  min-width: 55px;
  padding: 0 17px;
}

.landig-page .vector-2 {
  height: 21px;
  width: 21px;
}

.landig-page .publicidad {
  align-items: center;
  background-color: var(--bloque-claro);
  display: flex;
  height: 326px;
  left: 1px;
  min-width: 1439px;
  padding: 0 324px;
  position: absolute;
  top: 1847px;
}

.landig-page .publicidad-1 {
  height: 226px;
  object-fit: cover;
  width: 790px;
}

.landig-page .overlap-group8 {
  align-items: center;
  background-color: var(--blanco-fondo);
  display: flex;
  flex-direction: column;
  left: 1px;
  min-height: 747px;
  padding: 50px 0;
  position: absolute;
  top: 1100px;
  width: 1438px;
}

.landig-page .titulo-1 {
  color: var(--azul-2);
  font-weight: 600;
  line-height: 46px;
  min-height: 46px;
  text-align: center;
  white-space: nowrap;
  width: 1116px;
}

.landig-page .articulos {
  align-items: flex-start;
  display: flex;
  margin-top: 30px;
  min-width: 1114px;
}

.landig-page .flex-row-1 {
  align-items: flex-start;
  display: flex;
  min-width: 790px;
}

.landig-page .overlap-group2-1 {
  border-radius: 12px;
  height: 476px;
  position: relative;
  width: 466px;
}

.landig-page .fondo-2 {
  background-color: var(--azul-2);
  border-radius: 12px;
  height: 476px;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(-180deg);
  width: 466px;
}

.landig-page .overlap-group-9 {
  align-items: flex-start;
  background-color: var(--blanco-fondo);
  border-radius: 12px;
  display: flex;
  height: 32px;
  left: 394px;
  min-width: 72px;
  position: absolute;
  top: 0;
}

.landig-page .recetas {
  color: var(--texto);
  font-weight: 400;
  height: 32px;
  line-height: 20px;
  text-align: center;
  width: 72px;
}

.landig-page .overlap-group1-2 {
  border-radius: 0px 0px 12px 12px;
  height: 160px;
  left: 0;
  position: absolute;
  top: 316px;
  width: 466px;
}

.landig-page .fondo-3 {
  background-color: var(--bloque-claro);
  border-radius: 0px 0px 12px 12px;
  height: 160px;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(-180deg);
  width: 466px;
}

.landig-page .ejemplo-de-ttulo-de-1 {
  left: 15px;
  line-height: 24px;
  position: absolute;
  top: 15px;
  width: 436px;
}

.landig-page .span0-1 {
  letter-spacing: 0.12px;
  line-height: 32px;
  text-decoration: underline;
}

.landig-page .span-1 {
  color: var(--azul-2);
  font-weight: 400;
  line-height: 20px;
}

.landig-page .span2 {
  letter-spacing: 0.07px;
  line-height: 21px;
}

.landig-page .overlap-group-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  min-height: 476px;
  width: 304px;
}

.landig-page .overlap-group4 {
  border-radius: 12px;
  height: 228px;
  position: relative;
  width: 304px;
}

.landig-page .fondo {
  background-color: var(--azul-2);
  border-radius: 12px;
  height: 228px;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(-180deg);
  width: 304px;
}

.landig-page .overlap-group-3 {
  align-items: flex-start;
  background-color: var(--blanco-fondo);
  border-radius: 12px;
  display: flex;
  height: 32px;
  left: 232px;
  min-width: 72px;
  position: absolute;
  top: 0;
}

.landig-page .overlap-group1 {
  border-radius: 0px 0px 12px 12px;
  height: 114px;
  left: 0;
  position: absolute;
  top: 114px;
  width: 304px;
}

.landig-page .fondo-1 {
  background-color: var(--bloque-claro);
  border-radius: 0px 0px 12px 12px;
  height: 114px;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(-180deg);
  width: 304px;
}

.landig-page .ejemplo-de-ttulo-de {
  left: 15px;
  line-height: 18px;
  position: absolute;
  top: 10px;
  width: 274px;
}

.landig-page .span-2 {
  letter-spacing: 0.09px;
  line-height: 26px;
  text-decoration: underline;
}

.landig-page .overlap-group3-1 {
  border-radius: 12px;
  height: 228px;
  margin-top: 20px;
  position: relative;
  width: 304px;
}

.landig-page .overlap-group6-1 {
  border-radius: 12px;
  height: 145px;
  position: relative;
  width: 304px;
}

.landig-page .rectangle-31 {
  background-color: var(--bloque-claro);
  border-radius: 12px;
  height: 145px;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(-180deg);
  width: 304px;
}

.landig-page .address {
  left: 15px;
  line-height: 13px;
  position: absolute;
  top: 20px;
  width: 274px;
}

.landig-page .overlap-group7 {
  border-radius: 12px;
  height: 145px;
  margin-top: 21px;
  position: relative;
  width: 304px;
}

.landig-page .overlap-group5-1 {
  border-radius: 12px;
  height: 145px;
  margin-top: 20px;
  position: relative;
  width: 304px;
}

.landig-page .cto-blog {
  align-items: flex-start;
  box-shadow: 4px 4px 15px #020c1280;
  cursor: pointer;
  display: flex;
  margin-left: 2.0px;
  margin-top: 30px;
  min-width: 468px;
}

.landig-page .overlap-group-10 {
  align-items: flex-start;
  background-color: var(--azul-comercio);
  border-radius: 6px;
  display: flex;
  justify-content: flex-end;
  min-width: 466px;
}

.landig-page .presentacion {
  align-items: flex-end;
  background-color: var(--azul-comercio);
  display: flex;
  flex-direction: column;
  left: 1px;
  min-height: 460px;
  padding: 50px 158px;
  position: absolute;
  top: 640px;
  width: 1440px;
}

.landig-page .texto-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-right: 1px;
  min-height: 196px;
  width: 1120px;
}

.landig-page .titulo-2 {
  color: var(--blanco-fondo);
  font-weight: 600;
  line-height: 46px;
  margin-right: 4.0px;
  min-height: 46px;
  text-align: center;
  white-space: nowrap;
  width: 1116px;
}

.landig-page .cuerpo {
  color: var(--blanco-fondo);
  font-weight: 400;
  line-height: 30px;
  margin-right: 4.0px;
  margin-top: 30px;
  min-height: 120px;
  text-align: center;
  width: 792px;
}

.landig-page .contador {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  min-height: 134px;
  width: 1120px;
}

.landig-page .overlap-group-11 {
  align-items: flex-start;
  background-color: var(--bloque-claro);
  border-radius: 24px;
  display: flex;
  margin-right: 6.0px;
  min-width: 1114px;
}

.landig-page .overlap-group1-3 {
  height: 134px;
  position: relative;
  width: 743px;
}

.landig-page .x16-aos-de-experiencia {
  color: var(--texto);
  height: 134px;
  left: 0;
  line-height: 48px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 371px;
}

.landig-page .span-3 {
  font-weight: 400;
  line-height: 55px;
}

.landig-page .address-1 {
  color: var(--texto);
  height: 134px;
  left: 371px;
  line-height: 48px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 371px;
}

.landig-page .span-4 {
  font-weight: 400;
  line-height: 32px;
}

.landig-page .address-2 {
  color: var(--texto);
  height: 134px;
  line-height: 48px;
  text-align: center;
  width: 371px;
}

.landig-page .line-container {
  align-items: flex-start;
  display: flex;
  margin-right: 6.0px;
  margin-top: 782px;
  min-width: 373px;
}

.landig-page .line-3 {
  height: 134px;
  width: 2px;
}

.landig-page .line-4 {
  height: 134px;
  margin-left: 369px;
  width: 2px;
}

.landig-page .overlap-group9 {
  height: 640px;
  left: 1px;
  position: absolute;
  top: 80px;
  width: 1870px;
}

.landig-page .carrusel {
  align-items: flex-start;
  display: flex;
  height: 560px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 1438px;
}

.landig-page .x1 {
  height: 560px;
  width: 1438px;
}

.landig-page .carrusel-item {
  height: 560px;
  margin-left: 98px;
  width: 1438px;
}

.landig-page .subtract-container {
  height: 560px;
  left: 478px;
  position: absolute;
  top: 80px;
  width: 1392px;
}

.landig-page .subtract-2 {
  height: 560px;
  left: 406px;
  position: absolute;
  top: 0;
  width: 986px;
}

.landig-page .subtract-3 {
  height: 560px;
  left: 0;
  position: absolute;
  top: 0;
  width: 960px;
}

.landig-page .lista-con-iconos {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 810px;
  min-height: 120px;
  position: absolute;
  top: 362px;
  width: 324px;
}

.landig-page .aprende {
  align-items: flex-start;
  display: flex;
  min-width: 326px;
}

.landig-page .aprende-1 {
  align-items: flex-start;
  background-color: var(--azul-2);
  border-radius: 15px;
  display: flex;
  height: 30px;
  justify-content: flex-end;
  min-width: 30px;
  padding: 8.0px 7.0px;
}

.landig-page .group {
  height: 13px;
  width: 16px;
}

.landig-page .aprende-tips-de-negocio {
  color: var(--azul-2);
  font-weight: 400;
  line-height: 30px;
  margin-left: 8px;
  min-height: 30px;
  white-space: nowrap;
}

.landig-page .lista-con-iconos-item {
  align-items: flex-start;
  display: flex;
  margin-top: 15px;
  min-width: 326px;
}

.landig-page .comparte {
  align-items: flex-end;
  background-color: var(--azul-2);
  border-radius: 15px;
  display: flex;
  height: 30px;
  justify-content: flex-end;
  min-width: 30px;
  padding: 7.5px 7.8px;
}

.landig-page .vector-3 {
  height: 15px;
  width: 14px;
}

.landig-page .comparte-ancdotas {
  align-self: flex-end;
  color: var(--azul-2);
  font-weight: 400;
  line-height: 30px;
  margin-left: 8px;
  min-height: 30px;
  white-space: nowrap;
  width: 286px;
}

.landig-page .divierte {
  align-items: flex-end;
  background-color: var(--azul-2);
  border-radius: 15px;
  display: flex;
  height: 30px;
  justify-content: flex-end;
  min-width: 30px;
  padding: 6px 6.0px;
}

.landig-page .icon-heart {
  height: 16px;
  width: 17px;
}

.landig-page .divirtete {
  color: var(--azul-2);
  font-weight: 400;
  line-height: 30px;
  margin-left: 8px;
  min-height: 30px;
  white-space: nowrap;
}

.landig-page .titulo-3 {
  color: var(--azul-2);
  font-weight: 700;
  left: 810px;
  line-height: 56px;
  position: absolute;
  top: 220px;
  width: 466px;
}

.landig-page .tenderos-comunidad {
  align-items: center;
  display: flex;
  height: 140px;
  left: 810px;
  min-width: 266px;
  position: absolute;
  top: 50px;
}

.landig-page .logo-tenderos {
  background-image: url(../img/logo-tenderos-2@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 140px;
  width: 142px;
}

.landig-page .frame-41 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  min-height: 46px;
  width: 109px;
}

.landig-page .tenderos-mx-1 {
  color: var(--azul-2);
  font-weight: 600;
  height: 20px;
  line-height: 20px;
  margin-top: -1px;
  min-width: 93px;
  text-align: center;
  white-space: nowrap;
}

.landig-page .logos-redes-tenderos {
  height: 16px;
  margin-top: 11px;
  width: 109px;
}

.landig-page .contro-de-carrusel {
  align-items: flex-start;
  display: flex;
  height: 10px;
  left: 648px;
  min-width: 142px;
  position: absolute;
  top: 530px;
}

.landig-page .rectangle-33 {
  background-color: var(--azul-comercio);
  border-radius: 19px;
  height: 10px;
  width: 40px;
}

.landig-page .rectangle-3 {
  border-radius: 19px;
  height: 10px;
  margin-left: 11px;
  width: 40px;
}

.landig-page .barra-de-men {
  align-items: center;
  background-color: var(--blanco-puro);
  box-shadow: 4px 4px 15px #020c1280;
  display: flex;
  height: 80px;
  left: 0;
  min-width: 1438px;
  padding: 0 162px;
  position: fixed;
  top: 0;
  z-index: 2;
}

.landig-page .logo {
  height: 58px;
  object-fit: cover;
  width: 304px;
}

.landig-page .vinculos {
  align-items: flex-start;
  display: flex;
  margin-left: 20px;
  min-width: 630px;
}

.landig-page .inicio {
  color: var(--black);
  cursor: pointer;
  font-weight: 400;
  height: 26px;
  line-height: 26px;
  text-align: center;
  white-space: nowrap;
  width: 142px;
}

.landig-page .drop-1 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  margin-left: 20px;
  min-width: 144px;
}

.landig-page .la-revista {
  color: var(--black);
  font-weight: 400;
  height: 26px;
  line-height: 26px;
  text-align: center;
  white-space: nowrap;
  width: 142px;
}

.landig-page .descarga {
  color: var(--black);
  font-weight: 400;
  height: 26px;
  line-height: 26px;
  margin-left: 18px;
  text-align: center;
  white-space: nowrap;
  width: 142px;
}

.landig-page .drop-2 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  margin-left: 21px;
  min-width: 143px;
}

.landig-page .comunidad {
  color: var(--black);
  font-weight: 400;
  height: 26px;
  line-height: 26px;
  text-align: center;
  white-space: nowrap;
  width: 141px;
}
