/* screen - 421_432 */

.formulario {
  align-items: flex-end;
  background-color: var(--bloque-oscuro);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  min-height: 493px;
  padding: 0 15px;
  width: 1155px;
}

.overlap-group3 {
  height: 121px;
  margin-top: 15px;
  position: relative;
  width: 633px;
}

.group-98 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 106px;
  position: absolute;
  top: 15px;
  width: 631px;
}

.amigo-tendero {
  color: var(--azul-2);
  font-weight: 600;
  line-height: 46px;
  min-height: 46px;
  text-align: center;
  white-space: nowrap;
  width: 627px;
}

.suscrbete-a-nuestra {
  color: var(--texto);
  font-weight: 400;
  line-height: 30px;
  margin-top: 30px;
  min-height: 30px;
  text-align: center;
  white-space: nowrap;
  width: 627px;
}

.vector {
  cursor: pointer;
  height: 30px;
  left: 603px;
  position: absolute;
  top: 0;
  width: 30px;
}

.overlap-group4 {
  height: 497px;
  margin-right: 6px;
  margin-top: 30px;
  position: relative;
  width: 993px;
}

.tendero-portafolio-1 {
  height: 493px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 4px;
  width: 486px;
}

.campo-de-texto {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 365px;
  min-height: 202px;
  position: absolute;
  top: 0;
  width: 628px;
}

.overlap-group-1 {
  align-items: flex-start;
  background-color: var(--blanco-fondo);
  border-radius: 6px;
  display: flex;
  min-width: 628px;
  padding: 0 21.1px;
}

.nombre {
  color: var(--black);
  font-weight: 400;
  height: 54px;
  line-height: 26px;
  width: 195px;
}

.overlap-group {
  align-items: flex-start;
  background-color: var(--blanco-fondo);
  border-radius: 6px;
  display: flex;
  margin-top: 20px;
  min-width: 628px;
  padding: 0 21.1px;
}

.correo-electronico {
  color: var(--black);
  font-weight: 400;
  height: 54px;
  line-height: 26px;
  width: 204px;
}

.telfono {
  color: var(--black);
  font-weight: 400;
  height: 54px;
  line-height: 26px;
  width: 199px;
}

.overlap-group2 {
  align-items: flex-start;
  background-color: var(--azul-comercio);
  border-radius: 6px;
  display: flex;
  height: 65px;
  justify-content: flex-end;
  left: 365px;
  min-width: 628px;
  position: absolute;
  top: 232px;
}

.suscrbete {
  height: 65px;
  letter-spacing: 0.12px;
  line-height: 32px;
  text-align: center;
  text-decoration: underline;
  width: 627px;
}
